*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: white;
    height: 70px;
}
ul,h1{
    text-align: center;
    padding: 2px;
    margin-top: 5px;
}
li{
    display: inline;
    color: grey;
}
li:hover{
    color: white;
}
.box{
    border-color: black;
    border-width: 4px;
    border-style: solid;
    display: inline-block;
    width: 220px;
    
    
    
}
.receipe{
    margin-top: 30px;
    text-align: center;
    padding: 20px;
}
.order{
    background-color: black;
    display: inline;
    color: white;
    padding: 5px;
    display: inline-block;
}
.contact{
    background-color: black;
    color: white;
    height: 200x;
    padding: 20px;
}
.contact h1{
    margin-bottom: 10px;
}
